.pdf-convert-container {
  width: 100%;
  height: 100%;
  display: block;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.pdf-to-word-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1px;
}
