<div class="component-base-container">
  <div class="card" *ngIf="etcDir && etcDir.children">
    <p-accordion class="w-full">
      <p-accordionTab header="{{writeData?.name ?? 'list'}}">
        <div>
          <label>대분류</label>
          <p-dropdown [options]="etcDir.children" [(ngModel)]="selectDir" optionLabel="dirName" (onChange)="selectWriteDir($event)">
            <ng-template let-dir pTemplate="item">
              <div>{{dir.dirName}}</div>
            </ng-template>
          </p-dropdown>
        </div>
        <div>
          <p-listbox *ngIf="selectDir && selectDir.writeFiles" [options]="selectDir.writeFiles" optionLabel="name"
                     [filter]="true" (onChange)="selectWriteDataEvent($event)" [listStyle]="{ 'max-height': '250px'}">
            <ng-template let-write pTemplate="item">
              <div class="flex align-items-center">{{ write.name }}</div>
            </ng-template>
          </p-listbox>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div *ngIf="writeData" class="write-data-container">
    <span [innerHTML]=" writeData.content | safeHtml "></span>
  </div>
  <app-advertisement class="advertisement-bottom-container" />
</div>
