<div *ngIf="viewPage">
  <p-tree class="w-full mb-3" [value]="treeNode" (onNodeSelect)="nodeSelect($event)" [(selection)]="selectedNode"
          scrollHeight="300px" [selectionMode]="treeSelectionMode" [filter]="canFilter" filterMode="strict">
    <ng-template let-node pTemplate="default">
      <b>{{ node.label }}</b>
    </ng-template>
  </p-tree>
  <div class="flex align-items-center">
    <p-floatLabel class="mt-5 mb-3 mr-3">
      <input type="text" pInputText id="title" [(ngModel)]="writeFile.name" [readOnly]="isLoaded" >
      <label for="title">제목</label>
    </p-floatLabel>
    <p-button class="mt-5 mb-3 mr-3" (onClick)="loadFile()" label="load" />
    <p-button class="mt-5 mb-3 mr-3" (onClick)="loadClose()" [disabled]="!isLoaded" label="load close" />
    <p-button class="mt-5 mb-3 mr-3" (onClick)="postFile()" [disabled]="postDisable" label="post" />
    <div *ngIf="selectedDir" class="mt-5 mb-3 mr-3">
      <label>select dir : </label>
      <span>{{ selectedDir.dirName }}</span>
    </div>
  </div>
  <app-quill #quillEditor (htmlValue)="setContent($event)" />
</div>
