<section class="landing-footer pt-8 px-5 lg:px-8">
  <div class="landing-footer-container">
    <div class="flex flex-wrap z-1">
    </div>
    <hr class="section-divider mt-8"/>
    <div class="flex flex-wrap justify-content-between py-6 gap-5">
      <div class="flex align-items-center gap-2">
        <a href="https://github.com/HaMyoungHoon/angular-mhha" target="_blank" rel="noopener noreferrer"
           class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary">
          <i class="pi pi-github text-700"></i>
        </a>
        <a href="https://dev.azure.com/basicbansa/mhha/_git/WPF_MVVM" target="_blank" rel="noopener noreferrer"
           class="flex px-link border-1 border-solid w-2rem h-2rem surface-border border-round surface-card align-items-center justify-content-center transition-all transition-duration-300 hover:border-primary">
          <i class="pi pi-microsoft text-700"></i>
        </a>
      </div>
    </div>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5278104943482837"
         data-ad-slot="2800942949"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
  </div>
</section>
