<section class="landing-footer pt-8 px-5 lg:px-8">
  <div class="landing-footer-container">
    <div class="flex flex-wrap z-1">
    </div>
    <hr class="section-divider mt-8"/>
    <div class="flex flex-wrap justify-content-between py-6 gap-5">
      <div class="flex align-items-center gap-2">
        <a href="https://github.com/HaMyoungHoon?tab=repositories" target="_blank" rel="noopener noreferrer" class="linkbox block w-3rem h-3rem flex align-items-center justify-content-center">
          <i class="pi pi-github"></i>
        </a>
        <a href="https://dev.azure.com/basicbansa/mhha/_git/mhha" target="_blank" rel="noopener noreferrer" class="linkbox block w-3rem h-3rem flex align-items-center justify-content-center">
          <i class="pi pi-microsoft"></i>
        </a>
      </div>
    </div>
  </div>
</section>
