<div class="component-base-container">
  <div class="flex">
    <p-button class="m-1" (click)="clearMarker($event)">clear</p-button>
    <p-dropdown class="m-1" [options]="googleThemeList" [(ngModel)]="selectedTheme" optionLabel="label" (onChange)="themeSelectionChange($event)">
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedTheme">
          <div>{{selectedTheme.label}}</div>
        </div>
      </ng-template>
      <ng-template let-theme pTemplate="item">
        <div>{{theme.label}}</div>
      </ng-template>
    </p-dropdown>
    <div class="flex">
      <p-iconField class="address-search" iconPosition="left">
        <p-inputIcon [styleClass]="searchStyle" />
        <input pInputText type="text" [(ngModel)]="searchValue" placeholder="search" (keydown)="searchChange($event)">
      </p-iconField>
    </div>
  </div>
  <section class="flex flex-wrap">
    <div [ngClass]="mapViewContainerStyle">
      <div id="google-map-view" class="map-view"></div>
    </div>
    <div [ngClass]="addressListContainerStyle">
      <p-listbox class="address-model" [options]="addressList" *ngIf="addressList && addressList.length > 0" optionLabel="formatted_address"
                 [filter]="true" [(ngModel)]="selectedAddress" (onChange)="selectAddressList($event)">
        <ng-template let-address pTemplate="item">
          <div class="flex align-items-center">
            {{ address.formatted_address }}
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </section>
  <app-advertisement class="advertisement-bottom-container" />
</div>
