<div class="map-google-container">
  <div [ngClass]="mapViewContainerStyle">
    <div class="w-full flex">
      <p-button class="flex m-1" (click)="clearMarker($event)">clear marker</p-button>
      <p-dropdown class="flex m-1" [options]="googleThemeList" [(ngModel)]="selectedTheme" optionLabel="label" (onChange)="themeSelectionChange($event)">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="selectedTheme">
            <div>{{selectedTheme.label}}</div>
          </div>
        </ng-template>
        <ng-template let-theme pTemplate="item">
          <div>{{theme.label}}</div>
        </ng-template>
      </p-dropdown>
      <p-iconField class="address-search" iconPosition="left">
        <p-inputIcon [styleClass]="searchStyle" />
        <input pInputText type="text" [(ngModel)]="searchValue" placeholder="search" (input)="searchChange($event)">
      </p-iconField>
    </div>
    <div id="map-view" class="map-view">
    </div>
  </div>
  <div [ngClass]="addressListContainerStyle">
    <p-listbox class="address-model" [options]="addressList" *ngIf="addressList && addressList.length > 0" optionLabel="formatted_address"
               [filter]="true" [(ngModel)]="selectedAddress" (onChange)="selectAddressList($event)">
      <ng-template let-address pTemplate="item">
        <div class="flex align-items-center">
          {{ address.formatted_address }}
        </div>
      </ng-template>
    </p-listbox>
  </div>
  <app-advertisement class="advertisement-right-container" />
</div>
