<div class="card flex justify-content-center">
  <p-floatLabel>
    <input [ngClass]="authKeyClass" type="text" id="authKey" pInputText [(ngModel)]="reqData.authKey">
    <label for="authKey">인증키</label>
  </p-floatLabel>
  <p-floatLabel>
    <input [ngClass]="langTypeClass" type="text" id="langType" pInputText [(ngModel)]="reqData.langType">
    <label for="langType">언어</label>
  </p-floatLabel>
  <p-floatLabel>
    <input [ngClass]="startNumberClass" type="text" id="startNumber" pInputText [(ngModel)]="reqData.startNumber">
    <label for="startNumber">시작번호</label>
  </p-floatLabel>
  <p-floatLabel>
    <input [ngClass]="endNumberClass" type="text" id="endNumber" pInputText [(ngModel)]="reqData.endNumber">
    <label for="endNumber">끝번호</label>
  </p-floatLabel>
  <p-button label="ㄱㄱ" [disabled]="searchDisable" (click)="getTableData()" />
</div>
