.send-data-container {
  width: 50%;
}
.recv-data-container {
  width: 50%;
}
.send-data-area {
  width: 100%;
  min-height: 15vh;
  max-height: 25vh;
}
.recv-data-area {
  width: 100%;
  min-height: 25vh;
  max-height: 50vh;
}
